<!DOCTYPE html>
<html class="js html css_verticalspacer" lang="ru-RU">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Концерт ансамбля Allon</title>
    <link rel="stylesheet" type="text/css" href="~/files/phones/site_global.css">
    <link rel="stylesheet" type="text/css" href="~/files/phones/index.css" id="pagesheet">
</head>

<body class="initialized">

<div class="clearfix borderbox" id="page">

    <div class="browser_width grpelem" id="u4462-bw" style="height: 571px;">
        <div class="rgba-background clearfix" id="u4462" style="background-image: url('../files/phones/8.jpg'); background-repeat: repeat-x;">
            <!-- group -->
            <div class="clearfix grpelem" id="u5275">
                <!-- column -->
                <!-- m_editable region-id="editable-static-tag-U4610-BP_infinity" template="phone/index.html" data-type="image" -->
                <div class="clip_frame colelem" id="u4610" data-muse-uid="U4610" data-muse-type="img_frame">
                    <!-- image -->
                    <img class="block" id="u4610_img" src="~/files/phones/samaia.png" alt="" width="303" height="89" data-muse-src="~/files/phones/samaia.png?crc=4108813407">
                </div>
                <!-- /m_editable -->
                <!-- m_editable region-id="editable-static-tag-U4612-BP_infinity" template="phone/index.html" data-type="html" data-ice-options="disableImageResize,link" -->
                <div class="clearfix colelem" id="u4612-6" data-muse-uid="U4612" data-muse-type="txt_frame">
                    <!-- content -->
                    <p id="u4612-2">ИНТЕРНАЦИОНАЛЬНОЕ ТАНЦЕВАЛЬНОЕ ШОУ</p>
                    <p id="u4612-4">Ансамбль Allon</p>
                </div>
                <!-- /m_editable -->
                <!-- m_editable region-id="editable-static-tag-U4390-BP_infinity" template="phone/index.html" data-type="html" data-ice-options="disableImageResize,link" -->
                <div class="clearfix colelem" id="u4390-6" data-muse-uid="U4390" data-muse-type="txt_frame">
                    <!-- content -->
                    <p id="u4390-2">16 февраля 2018</p>
                    <p id="u4390-2">КЗ "ОРКЕСТРИОН"</p>
                    <p id="u4390-4">МОСКВА</p>
                </div>
                <!-- /m_editable -->
                <!-- m_editable region-id="editable-static-tag-U5189-BP_infinity" template="phone/index.html" data-type="html" data-ice-options="disableImageResize,link,clickable" data-ice-editable="link" -->
                <a class="nonblock nontext clearfix colelem" id="u5189-6" href="#" data-muse-uid="U5189" data-muse-type="txt_frame"><!-- content -->
                    <p id="u5189-4">купить<span id="u5189-2">1</span>билет
                    </p></a>
                <!-- /m_editable -->
                <div class="clearfix colelem" id="u5264">
                    <!-- group -->
                    <div class="shadow grpelem" id="u5265"><!-- simple frame --></div>
                    <div class="size_fixed grpelem" id="u5266">
                        <!-- custom html -->

                        <iframe class="actAsDiv" style="width: 100%; height: 100%;" src="https://www.youtube.com/embed/AMOaXfpJXUA?list=PLRPkxW-TFrIWEYgvJtcKrUNuEqmO9qt3l" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="browser_width grpelem" id="u4632-bw">
        <div class="clearfix" id="u4632">
            <!-- column -->
            <div class="clearfix colelem" id="u5255">
                <!-- group -->
                <div class="shadow clearfix grpelem" id="u4635">
                    <!-- group -->
                    <!-- m_editable region-id="editable-static-tag-U4638-BP_infinity" template="phone/index.html" data-type="html" data-ice-options="disableImageResize,link" -->
                    <div class="clearfix grpelem" id="u4638-11" data-muse-uid="U4638" data-muse-type="txt_frame">
                        <!-- content -->
                        <p>&nbsp;</p>
                        <p>Шоу "Легенды Грузии", по всеобщему признанию мировой прессы превосходящее по размаху и драматургии лидеров жанра - современные балетные шоу "Riverdance" и "Lord of the Dance", стало одним из самых успешных музыкально - хореографических зрелищ в мире, реализованных с использованием ультрасовременных технологий создания супершоу.</p>
                        <p>&nbsp;</p>
                        <p>Шоу «Легенды Грузии» рассказывает о Грузии: об ее истории, ее легендах и об ее народе, о любви грузин к Родине, о храбрости и добре, о военных победах и о любви и уважении к женщине... В основе новой постановки Шоу лежит грузинская легенда о том, что когда Господь раздавал народам земли, грузины сидели за столом, пели, танцевали, пили и веселились. И когда они, наконец, пришли к Господу, у него больше не осталось земель. Тогда грузины пригласили его за свой стол, и Господь так прекрасно провел время, что, не раздумывая, отдал грузинам землю, которую припас для себя.</p>
                        <p>&nbsp;</p>
                        <p>Мастерское переплетение сюжетов из национальной истории Грузии и Кавказа, талантливо воплощенных в восхитительных танцах, музыке и песнях, дополняемых потрясающими костюмами, декорациями, фантастическим светом и лучшим звуком, превращают "Легенды Грузии" в триумф кавказской культуры на мировой сцене.</p>
                    </div>
                    <!-- /m_editable -->
                </div>
            </div>

            <div class="clearfix colelem" id="u5258">
                <!-- group -->
                <div class="shadow clearfix grpelem" id="u4810">
                    <!-- column -->
                    <div class="clearfix colelem" id="u4813">
                        <!-- group -->
                        <!-- m_editable region-id="editable-static-tag-U4814-BP_infinity" template="phone/index.html" data-type="html" data-ice-options="disableImageResize,link" -->
                        <div class="clearfix grpelem" id="u4814-4" data-muse-uid="U4814" data-muse-type="txt_frame">
                            <!-- content -->
                            <p>У грузинских танцев нет аналогов. По движениям и осанке танцующего грузина, по тому как он держится, могли судить - выдавать за него дочь или нет. Танцевать на пальцах, вращаться на коленях - большое искусство. А женщины... Вы видели, как они скользят по сцене - будто лебеди по водной глади? "Чтобы танцевать грузинские танцы, надо родиться грузином", - объясняют танцоры.</p>
                        </div>
                        <!-- /m_editable -->
                    </div>
                    <div class="clearfix colelem" id="u4822">
                        <!-- group -->
                        <!-- m_editable region-id="editable-static-tag-U4825-BP_infinity" template="phone/index.html" data-type="image" -->
                        <div class="clip_frame grpelem" id="u4825" data-muse-uid="U4825" data-muse-type="img_frame">
                            <!-- image -->
                            <img class="block" id="u4825_img" src="~/files/phones/с девушкой82x105.png" alt="" width="81" height="105" data-muse-src="~/files/phones/%d1%81%20%d0%b4%d0%b5%d0%b2%d1%83%d1%88%d0%ba%d0%be%d0%b982x105.png?crc=525080089">
                        </div>
                        <!-- /m_editable -->
                        <div class="clearfix grpelem" id="pu4827">
                            <!-- group -->
                            <!-- m_editable region-id="editable-static-tag-U4827-BP_infinity" template="phone/index.html" data-type="image" -->
                            <div class="clip_frame grpelem" id="u4827" data-muse-uid="U4827" data-muse-type="img_frame">
                                <!-- image -->
                                <img class="block" id="u4827_img" src="~/files/phones/на коленке.png" alt="" width="71" height="92" data-muse-src="~/files/phones/%d0%bd%d0%b0%20%d0%ba%d0%be%d0%bb%d0%b5%d0%bd%d0%ba%d0%b5.png?crc=4248842934">
                            </div>
                            <!-- /m_editable -->
                            <!-- m_editable region-id="editable-static-tag-U4829-BP_infinity" template="phone/index.html" data-type="image" -->
                            <div class="clip_frame grpelem" id="u4829" data-muse-uid="U4829" data-muse-type="img_frame">
                                <!-- image -->
                                <img class="block" id="u4829_img" src="~/files/phones/парень в воздухе.png" alt="" width="77" height="99" data-muse-src="~/files/phones/%d0%bf%d0%b0%d1%80%d0%b5%d0%bd%d1%8c%20%d0%b2%20%d0%b2%d0%be%d0%b7%d0%b4%d1%83%d1%85%d0%b5.png?crc=4040556422">
                            </div>
                            <!-- /m_editable -->
                            <!-- m_editable region-id="editable-static-tag-U4823-BP_infinity" template="phone/index.html" data-type="image" -->
                            <div class="clip_frame grpelem" id="u4823" data-muse-uid="U4823" data-muse-type="img_frame">
                                <!-- image -->
                                <img class="block" id="u4823_img" src="~/files/phones/девушка в бондане94x121.png" alt="" width="93" height="120" data-muse-src="~/files/phones/%d0%b4%d0%b5%d0%b2%d1%83%d1%88%d0%ba%d0%b0%20%d0%b2%20%d0%b1%d0%be%d0%bd%d0%b4%d0%b0%d0%bd%d0%b594x121.png?crc=331725005">
                            </div>
                            <!-- /m_editable -->
                        </div>
                    </div>
                    <div class="clearfix colelem" id="u4853">
                        <!-- group -->
                        <!-- m_editable region-id="editable-static-tag-U4854-BP_infinity" template="phone/index.html" data-type="html" data-ice-options="disableImageResize,link" -->
                        <div class="clearfix grpelem" id="u4854-7" data-muse-uid="U4854" data-muse-type="txt_frame">
                            <!-- content -->
                            <p>Концерт "Легенды Грузии» - это незабываемое событие, настоящее чудо! Не зря французское издание Le Figaro написало про Шоу: «… Это зрелище, которое каждый должен увидеть хотя бы раз в жизни!» Шоу насыщено любовью к Грузии, где все - даже порыв ветра, бой барабанов и колоколов, величественное молчание гор и радостное журчание горных ручьев - все ассоциируется с музыкой, песней и танцем!</p>
                            <p>&nbsp;</p>
                            <p>По словам корреспондентов газеты New York Post: "Каждый концерт шоу «Легенды Грузии" становится настоящим праздником для глаз и ушей зрителей". Грузинским артистам рукоплескали зрители более 50 стран мира на 5ти континентах,&nbsp; артисты Шоу выступали в самых престижных и уникальных залах мира, представляли свое искусство перед королями и главами государств, на крайнем севере и в пустыне на фоне Пирамид, на диком Американском западе и на востоке – в Поднебесной. И они гордятся тем, что каждое выступление Шоу завершается бурной стоячей овацией, которую благодарные зрители дарят Артистам.</p>
                        </div>
                        <!-- /m_editable -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="browser_width grpelem" id="u4862-bw">
        <div class="rgba-background clearfix" id="u4862" style="background-image: url('../files/phones/8.jpg'); background-repeat: repeat-x;">
            <!-- group -->
            <div class="clearfix grpelem" id="u5261">
                <!-- column -->
                <!-- m_editable region-id="editable-static-tag-U5201-BP_infinity" template="phone/index.html" data-type="image" -->
                <div class="clip_frame colelem" id="u5201" data-muse-uid="U5201" data-muse-type="img_frame">
                    <!-- image -->
                    <img class="block" id="u5201_img" src="~/files/phones/samaia.png" alt="" width="303" height="89" data-muse-src="~/files/phones/samaia.png?crc=4108813407">
                </div>
                <!-- /m_editable -->
                <!-- m_editable region-id="editable-static-tag-U5200-BP_infinity" template="phone/index.html" data-type="html" data-ice-options="disableImageResize,link" -->
                <div class="clearfix colelem" id="u5200-6" data-muse-uid="U5200" data-muse-type="txt_frame">
                    <!-- content -->
                    <p id="u5200-2">ИНТЕРНАЦИОНАЛЬНОЕ ТАНЦЕВАЛЬНОЕ ШОУ</p>
                    <p id="u5200-4">Ансамбль Allon</p>
                </div>
                <!-- /m_editable -->


                <!-- m_editable region-id="editable-static-tag-U5198-BP_infinity" template="phone/index.html" data-type="html" data-ice-options="disableImageResize,link" -->
                <div class="clearfix colelem" id="u5198-4" data-muse-uid="U5198" data-muse-type="txt_frame">
                    <!-- content -->
                    <p id="u5198-2">16 февраля 2018</p>
                    <p>КЗ "ОРКЕСТРИОН"</p>
                    <p>МОСКВА</p>
                </div>
                <!-- /m_editable -->
                <!-- m_editable region-id="editable-static-tag-U5203-BP_infinity" template="phone/index.html" data-type="html" data-ice-options="disableImageResize,link,clickable" data-ice-editable="link" -->
                <a class="nonblock nontext clearfix colelem" id="u5203-6" href="#" data-muse-uid="U5203" data-muse-type="txt_frame"><!-- content -->
                    <p id="u5203-4">купить<span id="u5203-2">1</span>билет
                    </p></a>
                <!-- /m_editable -->
            </div>
        </div>
    </div>

</div>

</body>
</html>